---
layout: default
---
<div id="navbar" class="container">
    <h5><a id="link-back" href="/">글 목록</a></h5>
    {% include share.html page=page %}
</div>

<div id="cover" class="container"
     {% if page.image %}style="background-image: url({{ page.image }});"{% endif %}>
    <div>
        <h1>{{ page.title }}</h1>
        <p>
            {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
                {% unless forloop.last %},{% endunless %}
            {% endfor %}
        </p>
        {% include cover_link.html cover=page.cover %}
    </div>
</div>

<div id="content" class="container post" role="main">
    <div id="post-content">{{ content }}</div>
    <div id="post-footer">
        {% assign author = site.authors | where: 'name', page.author | first %}
        <a id="post-author" href="{{ author.url }}">
            <div id="author-image" style="background-image:url({{ author.image | default: '' }});">
                <span class="sr-only">{{ author.name }}'s profile image</span>
            </div>
            <p id="author-name">{{ author.name }}</p>
        </a>
        <p id="post-date">{{ page.date | date: '%Y-%m-%d' }}</p>
        <a id="post-more" href="{{ author.url }}">
            <span>글 더보기</span>
        </a>
    </div>
</div>

<div id="post-links" class="container">
    {% assign prev = page.previous %}
    {% if prev %}
      <a href="{{ prev.url }}" id="post-prev"{% if prev.image %} style="background-image: url({{ prev.image }});"{% endif %}>
          <div>
              <h3>{{ prev.title }}</h3>
              <p>YOU MIGHT ENJOY</p>
          </div>
      </a>
    {% endif %}
    {% assign next = page.next %}
    {% if next %}
    <a href="{{ next.url }}" id="post-next"{% if next.image %} style="background-image: url({{ next.image }});"{% endif %}>
        <div>
            <h3>{{ next.title }}</h3>
            <p>NEXT POST</p>
        </div>
    </a>
    {% endif %}
</div>

<div id="lightbox">
    <div id="lightbox-image"></div>
</div>
